<!DOCTYPE html>
<html>
  <head>
    
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/users/register">Register</a>
    <a href="/users/login">Login</a>
  </body>
</html>